<section>
    <div class="row login_mobile">
        <div class="form_text">
            <h2>Login</h2>
            <p>Get acces to your Order, Wishlists and Recommendations</p>
        </div>
        <div class="form_set">
            <div class="fieldset">
                <input type="email" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Email</label>
            </div>
            <div class="fieldset">
                <input type="password" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Password</label>
            </div>
            <button type="submit" class="btn btn_login">Login</button>
        </div>
    </div>
</section>