.header .row {
  display: flex;
  margin: 0 auto;
  max-width: 1140px; }
  .header .row img {
    width: auto; }

.header nav {
  border-bottom: 1px;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0 2px 2px #efefef; }

.header__cart-item {
  display: flex;
  background-color: #DCDCDC;
  margin-left: 38%;
  padding: 10px;
  color: black; }

.header__main-nav {
  flex: 1;
  display: flex;
  list-style: none;
  margin: 0 0px 15px 0; }
  .header__main-nav--top {
    padding-top: 50px; }

.header__main-nav li {
  display: inline-block;
  margin-left: 40px;
  color: black;
  text-decoration: none; }

.header__main-nav li a:link,
.header__main-nav li a:visited {
  text-decoration: none;
  color: black; }

.header footer {
  background-color: #eaeaea;
  padding: 10px;
  color: black;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-left: 9%;
  font-weight: 400;
  font-size: 10px; }

.header #hamburger {
  display: none;
  color: #C71585; }

@media only screen and (max-width: 479px) {
  .header #nav_link {
    display: none; }
  .header #nav_link:checked ~ ul {
    display: block;
    transition: display 0.5s;
    background-color: #DCDCDC;
    margin: 2px 0 0;
    padding-bottom: 10px; }
  .header .btn {
    font-size: 12px;
    padding: 13px 10px; }
  .header__cart {
    position: relative;
    display: flex; }
    .header__cart p {
      font-size: 15px; }
  .header__myLinks {
    display: none;
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: 999;
    background-color: white;
    min-width: 100%; }
  .header__topnav a {
    color: #C71585;
    text-decoration: none;
    font-size: 17px;
    display: block;
    padding-top: 10px;
    padding-right: 5px; }
    .header__topnav a.icon-menu {
      display: block; }
    .header__topnav a:hover {
      color: #C71585; }
  .header__main-nav {
    display: none; }
  .header__cart-item {
    margin-left: 45px;
    padding: 10px 5px 5px 5px; }
  .header .row {
    display: flex;
    justify-content: space-between; }
    .header .row img {
      width: 28%;
      height: 28%; }
  .header #hamburger {
    display: inline;
    background-color: #DCDCDC;
    padding-top: 10px; }
    .header #hamburger icon-menu {
      position: relative;
      color: #C71585;
      top: 0;
      font-size: 25px; } }
