.email,
.password {
  position: relative;
  margin-bottom: 45px; }

.login_mobile input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #dcdcdc; }
  .login_mobile input:focus {
    outline: none; }

.login_mobile .form_text {
  width: 50%; }

.login_mobile .form_set {
  width: 50%; }

.login_mobile .btn_login {
  padding: 13px 130px 13px 130px;
  margin-bottom: 15px; }

.login_mobile .fieldset {
  position: relative;
  color: #dcdcdc;
  margin-bottom: 30px;
  margin-top: 15px; }

.login_mobile label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

.login_mobile input:focus ~ label, .login_mobile input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #00ffff; }

@media only screen and (max-width: 1023px) {
  .login_mobile {
    flex-direction: column; }
    .login_mobile .form_text {
      margin-left: 20px;
      margin-right: 20px;
      width: 100%; }
    .login_mobile .form_set {
      margin-left: 10px; } }

/* form  stylings  */
.login_mobile {
  /* active state */ }
  .login_mobile input:focus {
    outline: none; }
  .login_mobile .bar {
    position: relative;
    display: block;
    width: 300px; }
  .login_mobile .bar:before,
  .login_mobile .bar:after {
    content: "";
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #00ffff;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all; }
  .login_mobile .bar:before {
    left: 50%; }
  .login_mobile .bar:after {
    right: 50%; }
  .login_mobile input:focus ~ .bar:before,
  .login_mobile input:focus ~ .bar:after {
    width: 50%; }
  .login_mobile .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5; }
