* {
  box-sizing: border-box; }

html
body {
  font-family: 'Dosis';
  font-weight: 600;
  font-size: 20px;
  margin: 0; }

svg {
  fill: #C71585; }

p {
  margin: 0; }

.btn {
  color: #fff;
  text-decoration: none;
  background-color: #bf2957;
  padding: 13px 17px;
  transition: .5s;
  font-size: 15px;
  border: 0px; }

.btn:active, .btn:hover, .btn:focus, .btn:active, .btn:hover, .btn:focus {
  outline: 0;
  outline-offset: 0;
  background-color: #da1a55; }

.full__width {
  width: 100%; }

.flex_box {
  display: flex; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

figure {
  margin: 0; }

@media only screen and (min-width: 1199px) {
  .container {
    max-width: 1215px;
    padding: 0 15px;
    margin: 0 auto; } }

.header .row {
  display: flex;
  margin: 0 auto;
  max-width: 1140px; }
  .header .row img {
    width: auto; }

.header nav {
  border-bottom: 1px;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0 2px 2px #efefef; }

.header__cart-item {
  display: flex;
  background-color: #DCDCDC;
  margin-left: 38%;
  padding: 10px;
  color: black; }

.header__main-nav {
  flex: 1;
  display: flex;
  list-style: none;
  margin: 0 0px 15px 0; }
  .header__main-nav--top {
    padding-top: 50px; }

.header__main-nav li {
  display: inline-block;
  margin-left: 40px;
  color: black;
  text-decoration: none; }

.header__main-nav li a:link,
.header__main-nav li a:visited {
  text-decoration: none;
  color: black; }

.header footer {
  background-color: #eaeaea;
  padding: 10px;
  color: black;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-left: 9%;
  font-weight: 400;
  font-size: 10px; }

.header #hamburger {
  display: none;
  color: #C71585; }

@media only screen and (max-width: 479px) {
  .header #nav_link {
    display: none; }
  .header #nav_link:checked ~ ul {
    display: block;
    transition: display 0.5s;
    background-color: #DCDCDC;
    margin: 2px 0 0;
    padding-bottom: 10px; }
  .header .btn {
    font-size: 12px;
    padding: 13px 10px; }
  .header__cart {
    position: relative;
    display: flex; }
    .header__cart p {
      font-size: 15px; }
  .header__myLinks {
    display: none;
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: 999;
    background-color: white;
    min-width: 100%; }
  .header__topnav a {
    color: #C71585;
    text-decoration: none;
    font-size: 17px;
    display: block;
    padding-top: 10px;
    padding-right: 5px; }
    .header__topnav a.icon-menu {
      display: block; }
    .header__topnav a:hover {
      color: #C71585; }
  .header__main-nav {
    display: none; }
  .header__cart-item {
    margin-left: 45px;
    padding: 10px 5px 5px 5px; }
  .header .row {
    display: flex;
    justify-content: space-between; }
    .header .row img {
      width: 28%;
      height: 28%; }
  .header #hamburger {
    display: inline;
    background-color: #DCDCDC;
    padding-top: 10px; }
    .header #hamburger icon-menu {
      position: relative;
      color: #C71585;
      top: 0;
      font-size: 25px; } }

.mySlides {
  display: none; }

img {
  vertical-align: middle;
  width: 100%; }

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto; }

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 5px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: #dcdcdc; }

.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 5px;
  width: 5px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  text-align: center; }

.dot-button {
  text-align: center; }

.active,
.dot:hover {
  background-color: #717171; }

section.slider:nth-child(even) .cart_img {
  order: 1; }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: 0.4; }
  to {
    opacity: 1; } }

/* On smaller screens, decrease text size */
@media only screen and (max-width: 479px) {
  .prev,
  .next,
  .text {
    font-size: 11px; } }

embed {
  width: 100%;
  margin-bottom: -62px; }

.box {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #fff;
  z-index: 0; }

.box .cart_img {
  flex: 0 1 40%; }

.box .cart_desc {
  flex: 0 1 67%;
  text-align: center; }

.box .cart_desc p {
  padding-bottom: 30px;
  line-height: 1.4;
  font-size: 15px; }

h2 {
  line-height: 1;
  margin-bottom: 15px; }

.slider:nth-child(even) .cat_img {
  order: 1; }

.slider {
  position: relative;
  padding: 15px 0;
  margin-bottom: 20px;
  background-color: #fff;
  margin-top: 10px; }

.slider:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -43px;
  width: 65%;
  height: 16px;
  background: #fff;
  border-radius: 290px / 8px;
  box-shadow: 0 10px 17px #000000d9;
  z-index: -3;
  transform: translate(-50%, -50%); }

@media only screen and (max-width: 1023px) {
  .flex_boxes .cat_desc {
    flex: 0 1 60%;
    padding: 0; }
  .flex_boxes .cat_img {
    flex: 0 1 40%; } }

.email,
.password {
  position: relative;
  margin-bottom: 45px; }

.login_mobile input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #dcdcdc; }
  .login_mobile input:focus {
    outline: none; }

.login_mobile .form_text {
  width: 50%; }

.login_mobile .form_set {
  width: 50%; }

.login_mobile .btn_login {
  padding: 13px 130px 13px 130px;
  margin-bottom: 15px; }

.login_mobile .fieldset {
  position: relative;
  color: #dcdcdc;
  margin-bottom: 30px;
  margin-top: 15px; }

.login_mobile label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

.login_mobile input:focus ~ label, .login_mobile input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #00ffff; }

@media only screen and (max-width: 1023px) {
  .login_mobile {
    flex-direction: column; }
    .login_mobile .form_text {
      margin-left: 20px;
      margin-right: 20px;
      width: 100%; }
    .login_mobile .form_set {
      margin-left: 10px; } }

/* form  stylings  */
.login_mobile {
  /* active state */ }
  .login_mobile input:focus {
    outline: none; }
  .login_mobile .bar {
    position: relative;
    display: block;
    width: 300px; }
  .login_mobile .bar:before,
  .login_mobile .bar:after {
    content: "";
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #00ffff;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all; }
  .login_mobile .bar:before {
    left: 50%; }
  .login_mobile .bar:after {
    right: 50%; }
  .login_mobile input:focus ~ .bar:before,
  .login_mobile input:focus ~ .bar:after {
    width: 50%; }
  .login_mobile .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5; }

.prod_list {
  display: flex; }
  .prod_list .navigation {
    background-color: #eaeaea;
    padding-left: 10px;
    max-width: 300px;
    width: 100%;
    margin-bottom: 0; }
    .prod_list .navigation > ul {
      display: block;
      padding: 0; }
      .prod_list .navigation > ul li {
        display: block;
        border-bottom: 1px solid #d3d3d3;
        padding: 5px 0px 10px 0px; }
        .prod_list .navigation > ul li a {
          color: #747474;
          padding: 13px 0 13px 25px;
          font-weight: 400;
          text-decoration: none;
          font-size: 16px; }
        .prod_list .navigation > ul li::hover {
          color: #000; }
    .prod_list .navigation input,
    .prod_list .navigation label {
      display: none; }
  .prod_list .product_list_menu {
    width: calc(100% - 215px);
    margin-top: 10px; }
    .prod_list .product_list_menu .prod_desc p {
      background-color: #f0f0f0;
      padding: 10px 8px 8px;
      margin: 15px 0;
      font-size: 15px;
      height: 7.2em;
      overflow: hidden; }
    .prod_list .product_list_menu ul {
      margin: 0;
      display: flex;
      flex-wrap: wrap; }
      .prod_list .product_list_menu ul li {
        flex: 0 1 24%;
        margin-right: 1%;
        border-bottom: 1px dashed #ccc;
        padding-bottom: 10px;
        padding: 0 12px 10px;
        background-color: #fff;
        position: relative;
        margin-bottom: 30px; }
        .prod_list .product_list_menu ul li:after {
          content: "";
          position: absolute;
          right: -5px;
          top: 50%;
          transform: translateY(-50%);
          width: 1px;
          height: 65%;
          box-shadow: 0 5px 3px 2px #f9f9f9;
          background-color: #f9f9f9;
          border-radius: 50% 50% / 20px 20px; }
        .prod_list .product_list_menu ul li h4 {
          font-size: 17px;
          font-weight: 700;
          height: 4.2em; }

.buy_now {
  position: relative;
  display: flex;
  justify-content: flex-end; }
  .buy_now #mobile_view {
    display: none; }
  .buy_now span {
    font-size: 13px;
    position: absolute;
    color: #010101;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    cursor: default;
    pointer-events: none; }

@media only screen and (max-width: 1023px) {
  .prod_list .navigation {
    max-width: 215px; }
  .prod_list .product_list_menu > ul {
    padding: 10px; }
    .prod_list .product_list_menu > ul li {
      flex: 0 1 49%;
      margin-right: 0;
      padding: 0 5px 10px;
      margin-top: 0; }
      .prod_list .product_list_menu > ul li:after {
        display: none; }
      .prod_list .product_list_menu > ul li h4 {
        height: 25px; }
  .prod_list .product_list_menu .prod_desc {
    display: block; }
    .prod_list .product_list_menu .prod_desc .prod_img,
    .prod_list .product_list_menu .prod_desc p {
      float: left;
      width: 50%;
      margin: 0; }
    .prod_list .product_list_menu .prod_desc .buy_now {
      position: relative;
      display: inline-block;
      justify-content: flex-end;
      align-self: baseline;
      margin-top: 20px;
      width: 50%; }
      .prod_list .product_list_menu .prod_desc .buy_now #desktop_view {
        display: none; }
      .prod_list .product_list_menu .prod_desc .buy_now #mobile_view {
        display: inline; }
      .prod_list .product_list_menu .prod_desc .buy_now span {
        font-size: 13px;
        position: relative;
        color: #fff; }
      .prod_list .product_list_menu .prod_desc .buy_now .buy {
        font-size: 13px;
        display: block;
        text-align: center;
        padding: 13px; } }

@media only screen and (max-width: 767px) {
  .prod_list {
    max-width: 100%;
    padding-left: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-wrap: wrap; }
    .prod_list .navigation {
      background-color: transparent;
      padding-top: 0;
      max-width: 100%;
      padding-left: 0; }
      .prod_list .navigation label {
        position: relative;
        display: block;
        background-color: #d00256;
        color: #fff;
        padding: 11px 30px; }
      .prod_list .navigation .carret:after {
        content: "";
        width: 15px;
        height: 15px;
        border-left: 1px solid white;
        border-bottom: 1px solid white;
        position: absolute;
        right: 25px;
        bottom: 20px;
        transform: rotate(-45deg); }
      .prod_list .navigation ul {
        display: none;
        margin: 0; }
      .prod_list .navigation #side_menu:checked ~ ul {
        position: relative;
        display: block;
        transition: display 0.5s; }
    .prod_list .product_list_menu {
      width: 100%;
      padding: 0px; }
      .prod_list .product_list_menu > ul {
        padding: 10px; }
      .prod_list .product_list_menu .prod_desc {
        display: block; }
        .prod_list .product_list_menu .prod_desc .prod_img,
        .prod_list .product_list_menu .prod_desc p {
          float: left;
          width: 50%;
          margin: 0; }
        .prod_list .product_list_menu .prod_desc .buy_now {
          position: relative;
          display: inline-block;
          justify-content: flex-end;
          align-self: baseline;
          margin-top: 20px;
          width: 50%; }
          .prod_list .product_list_menu .prod_desc .buy_now #desktop_view {
            display: none; }
          .prod_list .product_list_menu .prod_desc .buy_now #mobile_view {
            display: inline; }
          .prod_list .product_list_menu .prod_desc .buy_now .buy {
            font-size: 13px;
            display: block;
            text-align: center; } }

@media only screen and (max-width: 479px) {
  .prod_list .product_list_menu > ul li {
    flex: 0 1 100%;
    margin-right: 0;
    padding: 0 5px 10px;
    margin-top: 0; } }

.cart-container {
  background-color: #E0E0E0;
  max-width: 1142px;
  margin: 10px auto; }

.shopping-cart {
  display: flex;
  background-color: black;
  width: 100%;
  height: 3.5em;
  justify-content: space-between;
  padding: 20px; }
  .shopping-cart .myCart {
    position: relative;
    color: white; }
  .shopping-cart a {
    color: white;
    display: none; }

#cart-value {
  font-size: 15px;
  display: contents;
  color: white; }

.cart-item-list {
  display: flex;
  max-width: 1140px;
  margin-top: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 5px;
  padding: 0; }

.cart-item {
  display: flex;
  width: 100%; }
  .cart-item .cart-image img {
    width: 50%;
    margin-left: 10px; }

.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 100%; }

.item-count {
  display: flex;
  padding-top: 10px; }
  .item-count .cart-counter {
    text-align: center;
    max-width: 50px;
    border: 0; }
  .item-count p {
    margin-left: 35px; }
  .item-count .priceTotal {
    flex: auto;
    text-align: right; }
  .item-count button[class*=btn] {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none; }

.banner {
  display: flex;
  justify-content: center;
  background-color: white;
  margin: 10px;
  border-radius: 5px; }
  .banner img {
    width: 15%;
    height: 20%; }
  .banner p {
    margin-top: 20px;
    margin-left: 75px;
    font-weight: 200;
    font-size: 17px; }

.checkout-btn {
  justify-content: flex-end;
  background-color: white;
  margin: 50px 10px 10px 10px;
  border-radius: 5px; }
  .checkout-btn .btn-checkout {
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
    font-size: 17px; }
    .checkout-btn .btn-checkout .totalPrice {
      float: right; }
  .checkout-btn p {
    font-weight: 200;
    font-size: 17px;
    padding-top: 10px;
    text-align: center; }

@media only screen and (max-width: 1023px) {
  .banner p {
    margin-top: 10px; } }

@media only screen and (max-width: 479px) {
  .cart-item .cart-image {
    width: 45%; }
  svg {
    width: 17px;
    height: 17px; }
  .description {
    padding-top: 0;
    margin-right: 0;
    width: 100%;
    font-size: 14px; }
  .item-count p {
    margin: 0;
    padding-left: 10px; }
  .item-count button.plus-btn {
    padding: 0;
    outline: none; }
  .item-count button.minus-btn {
    padding: 0;
    outline: none; }
  .item-count .priceTotal {
    padding-right: 15px; }
  .banner img {
    width: 30%; }
  .banner p {
    margin: 10px 0 0;
    font-weight: 200;
    font-size: 14px; } }
